@media screen and (max-width: 1700px) {
    .buttons {
        margin-top: 30px; /* Adjust spacing below terminal */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #mobile-nav {
        display: flex;
    }
    .menu-links {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
    }
    .menu-links.open {
        max-height: 300px;
    }
    
}